<% provide :title, t(".title") %>

<h1><%= t ".help" %></h1>
<p>
  <%= t ".get" %>
  <%= link_to t(".name"), "http://www.railstutorial.org/help" %>
  <%= t ".last" %>
  <%= link_to t(".ruby"), "http://www.railstutorial.org/book" %>
  <%= t ".book" %>
</p>
