<footer class="footer">
  <small>
    <%= t ".the" %> <%= link_to t(".ruby"), "www.railstutorial.org/" %>
    <%= t ".by" %> <%= link_to t(".michael"), "www.michaelhartl.com/" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li><a href="http://news.railstutorial.org/"><%= t ".news" %></a></li>
    </ul>
  </nav>
</footer>
